@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --coklatmuda: #faf3ea;
  --coklat: #b88e2f;
  --abu: #eee;
}

@keyframes berjalan {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px 50px;
  background-color: var(--coklatmuda);
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .nav-left .logo {
  display: flex;
  gap: 3px;
}
nav .nav-left .map {
  display: flex;
  align-items: end;
}
nav .nav-left .map i {
  font-size: x-large;
  color: black;
}
nav .nav-left .map p {
  font-size: small;
}
nav .search {
  display: flex;
  align-items: center;
  text-align: center;
}
nav .search select,
nav .search input {
  height: 30px;
  padding: 0 10px;
}
nav .search input {
  width: 300px;
}
nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
nav ul li {
  color: var(--abu);
  cursor: pointer;
}
nav ul li a {
  color: #9f9f9f;
}
nav ul a:hover {
  transition: all 0.5s ease-in-out;
  color: black;
}
nav .account {
  display: flex;
  gap: 20px;
  font-size: x-large;
}
nav .account i {
  color: black;
}
nav .hamburger {
  width: auto;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
nav .hamburger .bar {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 3px;
}

header {
  position: relative;
}
header img {
  width: 100%;
}
header .banner-shop {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  animation: berjalan 4s;
}
header .banner-shop .banner-shop-about {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .banner-shop .banner-shop-about h3 {
  font-weight: bolder;
}
header .banner-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  margin-top: -10px;
  padding: 10px 3rem;
}
header .banner-nav .banner-nav1 {
  display: flex;
  gap: 30px;
  align-items: center;
}
header .banner-nav .banner-nav1 div {
  display: flex;
  align-items: center;
  gap: 3px;
}
header .banner-nav .banner-nav2 {
  display: flex;
  gap: 30px;
  align-items: center;
}
header .banner-nav .banner-nav2 select {
  border: none;
  padding: 5px;
  color: #9f9f9f;
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
  nav {
    padding: 10px;
    gap: 10px;
  }
  nav .nav-left .logo {
    display: block;
    font-size: 10px;
  }
  nav .nav-left .search {
    display: flex;
  }
  nav .list {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    padding: 10px 30px;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--coklatmuda);
  }
  nav .list ul {
    flex-direction: column;
    gap: 5px;
  }
  nav .hamburger {
    display: flex;
  }
  nav .show {
    display: flex;
  }
  header .banner-shop h2 {
    font-size: large;
  }
  header .banner-shop .banner-shop-about h4 {
    font-size: 15px;
  }
  header .banner-shop .banner-shop-about p {
    font-size: 15px;
  }
  header .banner-nav .banner-nav1 p {
    font-size: 13px;
  }
  header .banner-nav .banner-nav2 p {
    font-size: 13px;
  }
  header .banner-nav .banner-nav2 select {
    font-size: 13px;
  }
}
@media screen and (max-width: 750px) {
  nav {
    padding: 10px;
    gap: 10px;
  }
  nav .nav-left .logo {
    display: block;
    font-size: 10px;
  }
  nav .nav-left .map i,
  nav .nav-left .map h3 {
    font-size: medium;
  }
  nav .search {
    display: none;
    top: 50px;
    right: 0px;
    padding: 10px;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    background-color: var(--coklatmuda);
  }
  nav .search #short-by {
    width: 80px;
    height: 20px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  nav .search input {
    width: 80px;
    font-size: 10px;
    height: 20px;
  }
  nav .list {
    position: absolute;
    display: none;
    top: 110px;
    right: 0px;
    font-size: 10px;
    z-index: 1;
    padding: 10px 35px;
    border-radius: 0 0 10px 10px;
    background-color: var(--coklatmuda);
  }
  nav .list ul {
    flex-direction: column;
    gap: 5px;
  }
  nav .hamburger {
    display: flex;
  }
  nav .show {
    display: flex;
  }
  header .banner-shop {
    top: 10%;
    left: 40%;
    gap: 0px;
  }
  header .banner-shop h2 {
    font-size: medium;
  }
  header .banner-shop .banner-shop-about {
    gap: 5px;
  }
  header .banner-shop .banner-shop-about h4 {
    font-size: 12px;
  }
  header .banner-shop .banner-shop-about p {
    font-size: 12px;
  }
  header .banner-nav .banner-nav1 p {
    font-size: 10px;
  }
  header .banner-nav .banner-nav2 p {
    font-size: 10px;
  }
  header .banner-nav .banner-nav2 select {
    font-size: 10px;
  }
}

/*# sourceMappingURL=shope.css.map */
