* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 9999;
  padding: 10px 50px;
  background-color: rgb(18, 9, 49);
  color: white;
  .nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
    .logo {
      display: flex;
      gap: 3px;
    }
    .map {
      display: flex;
      align-items: end;
      i {
        font-size: x-large;
        color: white;
      }
      p {
        font-size: small;
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    text-align: center;
    select,
    input {
      height: 30px;
      padding: 0 10px;
    }
    input {
      width: 300px;
    }
  }
  ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    li {
      cursor: pointer;
    }
  }
  .account {
    display: flex;
    gap: 20px;
    font-size: x-large;
    i {
      color: white;
    }
  }
  .hamburger {
    width: auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    .bar {
      width: 20px;
      height: 2px;
      background-color: white;
      margin: 3px;
    }
  }
}

// Responsive untuk IPAD
@media screen and (max-width: 1000px) and (min-width: 751px) {
  nav {
    padding: 10px;
    gap: 10px;
    .nav-left {
        .logo {
          display: block;
          font-size: 10px;
        }
        .search {
          display: flex;
        }
    }
    .list {
      display: none;
      position: absolute;
      top: 60px;
      right: 0px;
      padding: 10px 30px;
      border-radius: 10px;
      z-index: 1;
      background-color: rgb(18, 9, 49);
      ul {
        flex-direction: column;
        gap: 5px;
      }
    }
    .hamburger {
      display: flex;
    }
    .show {
      display: flex;
    }
  }
}

// Resnposive untuk Handphone
@media screen and (max-width: 750px) {
  nav {
    padding: 10px;
    gap: 10px;
    .nav-left {
        .logo {
          display: block;
          font-size: 10px;
        }
        .map i,
        .map h3 {
          font-size: medium;
        }
    }
    .search {
      display: none;
      top: 50px;
      right: 0px;
      padding: 10px;
      z-index: 1;
      flex-direction: column;
      position: absolute;
      background-color: rgb(18, 9, 49);
      #short-by {
        width: 80px;
        height: 20px;
        margin-bottom: 5px;
        font-size: 10px;
      }
      input {
        width: 80px;
        font-size: 10px;
        height: 20px;
      }
    }
    .list {
      position: absolute;
      display: none;
      top: 110px;
      right: 0px;
      font-size: 10px;
      z-index: 1;
      padding: 10px 35px;
      border-radius: 0 0 10px 10px;
      background-color: rgb(18, 9, 49);
      ul {
        flex-direction: column;
        gap: 5px;
      }
    }
    .hamburger {
      display: flex;
    }
    .show {
      display: flex;
    }
  }
}
