* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --coklatmuda: #faf3ea;
  --coklat: #b88e2f;
  --abu: #eee;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px 50px;
  background-color: var(--coklatmuda);
  .nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
    .logo {
      display: flex;
      gap: 3px;
    }
    .map {
      display: flex;
      align-items: end;
      i {
        font-size: x-large;
        color: black;
      }
      p {
        font-size: small;
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    text-align: center;
    select,
    input {
      height: 30px;
      padding: 0 10px;
    }
    input {
      width: 300px;
    }
  }
  ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    li {
      cursor: pointer;
    }
  }
  .account {
    display: flex;
    gap: 20px;
    font-size: x-large;
    i {
      color: black;
    }
  }
  .hamburger {
    width: auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    .bar {
      width: 20px;
      height: 2px;
      background-color: black;
      margin: 3px;
    }
  }
}
header {
  padding: 50px;
  .whychoose-dua {
    padding: 10px;
    .whychoose-dua-satu {
      h1 {
        letter-spacing: 1.4px;
        line-height: 30px;
        color: var(--coklat);
        padding-bottom: 30px;
      }
      p {
        font-size: 13px;
        color: #727272;
      }
    }
    .whychoose-dua-dua {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      padding: 10px 0;
      div {
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        h3 {
          padding: 10px;
          color: var(--coklat);
        }
        p {
          font-size: 13px;
          letter-spacing: 0%;
          color: #727272;
          line-height: 18px;

          text-align: justify;
        }
      }
    }
  }
  .whychoose-dua-tiga {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    button {
      background-color: var(--coklatmuda);
      padding: 15px 15px;
      border-radius: 999px;
      border: 1px solid var(--coklatmuda);
      cursor: pointer;
    }
  }
}
.container {
  position: absolute;
  position: fixed;
  display: none;
  top: 30px;
  left: 30%;
  z-index: 9999;
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px;
  border-radius: 8px;
  .section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    h2 {
      font-size: 1.5rem;
    }
    .form-group {
      margin-bottom: 20px;
      label {
        display: block;
        font-size: 0.875rem;
        color: black;
        margin-bottom: 5px;
      }
      #foto {
        display: block;
        align-items: center;
      }
    }
    .input-group {
      display: flex;
      align-items: center;
      span {
        width: 80%;
        padding: 9px 5px;
        background-color: #eee;
        border: 1px solid #ccc;
        border-right: none;
        border-radius: 4px 0 0 4px;
      }
      input {
        border-radius: 0 4px 4px 0;
        border-left: none;
        margin: 5px 0px;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea,
    select {
      width: 100%;
      font-size: 0.875rem;
      padding: 10px;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  .button-submit {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin: 10px auto;
    button {
      background: var(--coklat);
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px var(--coklat);
      white-space: nowrap;
      font-size: 15px;
      font-weight: normal;
    }
  }
}
.active {
  display: flex;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  .about-atas {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .card {
    width: 90%;
    height: 300px;
    margin: 30px 60px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    .card-satu {
      border: 1px solid var(--coklat);
      width: 350px;
      height: 200px;
      border-radius: 10px;
      padding: 30px 10px 0px 30px;
    }
    .card-satu:hover {
      transition-duration: 700ms;
      box-shadow: 5px 5px black;
    }
  }
}
footer {
  background-color: #eee;
  padding-bottom: 50px;
  .footer-container {
    display: flex;
    justify-content: space-around;
    border-top: 3px solid #eee;
    padding-top: 90px;
    div {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .address {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
      }
    }
    ul {
      list-style-type: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .footer-atas-kanan {
    display: flex;
    gap: 10px;
    color: black;
    a {
      color: black;
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
  nav {
    padding: 10px;
    gap: 10px;
    .nav-left {
      .logo {
        display: block;
        font-size: 10px;
      }
      .search {
        display: flex;
      }
    }
    .list {
      display: none;
      position: absolute;
      top: 60px;
      right: 0px;
      padding: 10px 30px;
      border-radius: 10px;
      z-index: 1;
      background-color: var(--coklatmuda);
      ul {
        flex-direction: column;
        gap: 5px;
      }
    }
    .hamburger {
      display: flex;
    }
    .show {
      display: flex;
    }
  }
  section {
    .about-atas {
      h4 {
        font-size: 15px;
      }
    }
    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      .card-satu {
        height: auto;
        h3 {
          font-size: medium;
        }
        p {
          font-size: small;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    .footer-container {
      gap: 15px;
      div {
        gap: 1px;
        h1 {
          font-size: 30px;
        }
        .address {
          gap: 5px;
          p {
            font-size: 15px;
          }
        }
        h3 {
          font-size: medium;
        }
        ul {
          gap: 0px;
          li {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  nav {
    padding: 10px;
    gap: 10px;
    .nav-left {
      .logo {
        display: block;
        font-size: 10px;
      }
      .map i,
      .map h3 {
        font-size: medium;
      }
    }
    .search {
      display: none;
      top: 50px;
      right: 0px;
      padding: 10px;
      z-index: 1;
      flex-direction: column;
      position: absolute;
      background-color: var(--coklatmuda);
      #short-by {
        width: 80px;
        height: 20px;
        margin-bottom: 5px;
        font-size: 10px;
      }
      input {
        width: 80px;
        font-size: 10px;
        height: 20px;
      }
    }
    .list {
      position: absolute;
      display: none;
      top: 110px;
      right: 0px;
      font-size: 10px;
      z-index: 1;
      padding: 10px 35px;
      border-radius: 0 0 10px 10px;
      background-color: var(--coklatmuda);
      ul {
        flex-direction: column;
        gap: 5px;
      }
    }
    .hamburger {
      display: flex;
    }
    .show {
      display: flex;
    }
  }
  header {
    .whychoose-dua {
      .whychoose-dua-satu {
        h1 {
          font-size: 25px;
        }
      }
      .whychoose-dua-dua {
        flex-direction: column;
      }
    }
  }
  .container {
    top: 50px;
    left: 10px;
    .section {
      h2 {
        font-size: large;
      }
      .form-group {
        label {
          font-size: 13px;
        }
        .input-group {
          span {
            font-size: 10px;
          }
          input {
            font-size: 10px;
          }
        }
      }
      div {
        label {
          font-size: 13px;
        }
        #email {
          font-size: 10px;
        }
        #country {
          font-size: 10px;
        }
      }
    }
  }
  section {
    .about-atas {
      h4 {
        font-size: 12px;
      }
    }
    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      .card-satu {
        height: auto;
        padding: 20px;
        h3 {
          font-size: small;
        }
        p {
          font-size: 10px;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    .footer-container {
      flex-direction: column;
      gap: 15px;
      div {
        gap: 1px;
        h1 {
          font-size: 20px;
        }
        .address {
          gap: 5px;
          p {
            font-size: 10px;
          }
        }
        h3 {
          font-size: medium;
        }
        ul {
          gap: 0px;
          li {
            font-size: 10px;
          }
        }
      }
    }
  }
}
