@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --coklatmuda: #faf3ea;
  --coklat: #b88e2f;
  --abu: #eee;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px 50px;
  background-color: var(--coklatmuda);
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .nav-left .logo {
  display: flex;
  gap: 3px;
}
nav .nav-left .map {
  display: flex;
  align-items: end;
}
nav .nav-left .map i {
  font-size: x-large;
  color: black;
}
nav .nav-left .map p {
  font-size: small;
}
nav .search {
  display: flex;
  align-items: center;
  text-align: center;
}
nav .search select,
nav .search input {
  height: 30px;
  padding: 0 10px;
}
nav .search input {
  width: 300px;
}
nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
nav ul li {
  cursor: pointer;
}
nav .account {
  display: flex;
  gap: 20px;
  font-size: x-large;
}
nav .account i {
  color: black;
}
nav .hamburger {
  width: auto;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
nav .hamburger .bar {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 3px;
}

header {
  padding: 50px;
}
header .whychoose-dua {
  padding: 10px;
}
header .whychoose-dua .whychoose-dua-satu h1 {
  letter-spacing: 1.4px;
  line-height: 30px;
  color: var(--coklat);
  padding-bottom: 30px;
}
header .whychoose-dua .whychoose-dua-satu p {
  font-size: 13px;
  color: #727272;
}
header .whychoose-dua .whychoose-dua-dua {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
}
header .whychoose-dua .whychoose-dua-dua div {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}
header .whychoose-dua .whychoose-dua-dua div h3 {
  padding: 10px;
  color: var(--coklat);
}
header .whychoose-dua .whychoose-dua-dua div p {
  font-size: 13px;
  letter-spacing: 0%;
  color: #727272;
  line-height: 18px;
  text-align: justify;
}
header .whychoose-dua-tiga {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}
header .whychoose-dua-tiga button {
  background-color: var(--coklatmuda);
  padding: 15px 15px;
  border-radius: 999px;
  border: 1px solid var(--coklatmuda);
  cursor: pointer;
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
  nav {
    padding: 10px;
    gap: 10px;
  }
  nav .nav-left .logo {
    display: block;
    font-size: 10px;
  }
  nav .nav-left .search {
    display: flex;
  }
  nav .list {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    padding: 10px 30px;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--coklatmuda);
  }
  nav .list ul {
    flex-direction: column;
    gap: 5px;
  }
  nav .hamburger {
    display: flex;
  }
  nav .show {
    display: flex;
  }
}
@media screen and (max-width: 750px) {
  nav {
    padding: 10px;
    gap: 10px;
  }
  nav .nav-left .logo {
    display: block;
    font-size: 10px;
  }
  nav .nav-left .map i,
  nav .nav-left .map h3 {
    font-size: medium;
  }
  nav .search {
    display: none;
    top: 50px;
    right: 0px;
    padding: 10px;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    background-color: var(--coklatmuda);
  }
  nav .search #short-by {
    width: 80px;
    height: 20px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  nav .search input {
    width: 80px;
    font-size: 10px;
    height: 20px;
  }
  nav .list {
    position: absolute;
    display: none;
    top: 110px;
    right: 0px;
    font-size: 10px;
    z-index: 1;
    padding: 10px 35px;
    border-radius: 0 0 10px 10px;
    background-color: var(--coklatmuda);
  }
  nav .list ul {
    flex-direction: column;
    gap: 5px;
  }
  nav .hamburger {
    display: flex;
  }
  nav .show {
    display: flex;
  }
}

/*# sourceMappingURL=about.css.map */
