@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --coklatmuda: #faf3ea;
  --coklat: #b88e2f;
  --abu: #eee;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px 50px;
  background-color: var(--coklatmuda);
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .nav-left .logo {
  display: flex;
  gap: 3px;
}
nav .nav-left .map {
  display: flex;
  align-items: end;
}
nav .nav-left .map i {
  font-size: x-large;
  color: black;
}
nav .nav-left .map p {
  font-size: small;
}
nav .search {
  display: flex;
  align-items: center;
  text-align: center;
}
nav .search select,
nav .search input {
  height: 30px;
  padding: 0 10px;
}
nav .search input {
  width: 300px;
}
nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
nav ul li {
  cursor: pointer;
}
nav .account {
  display: flex;
  gap: 20px;
  font-size: x-large;
}
nav .account i {
  color: black;
}
nav .hamburger {
  width: auto;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
nav .hamburger .bar {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 3px;
}

header {
  padding: 50px;
}
header .whychoose-dua {
  padding: 10px;
}
header .whychoose-dua .whychoose-dua-satu h1 {
  letter-spacing: 1.4px;
  line-height: 30px;
  color: var(--coklat);
  padding-bottom: 30px;
}
header .whychoose-dua .whychoose-dua-satu p {
  font-size: 13px;
  color: #727272;
}
header .whychoose-dua .whychoose-dua-dua {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
}
header .whychoose-dua .whychoose-dua-dua div {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}
header .whychoose-dua .whychoose-dua-dua div h3 {
  padding: 10px;
  color: var(--coklat);
}
header .whychoose-dua .whychoose-dua-dua div p {
  font-size: 13px;
  letter-spacing: 0%;
  color: #727272;
  line-height: 18px;
  text-align: justify;
}
header .whychoose-dua-tiga {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}
header .whychoose-dua-tiga button {
  background-color: var(--coklatmuda);
  padding: 15px 15px;
  border-radius: 999px;
  border: 1px solid var(--coklatmuda);
  cursor: pointer;
}

.container {
  position: absolute;
  position: fixed;
  display: none;
  top: 30px;
  left: 30%;
  z-index: 9999;
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px;
  border-radius: 8px;
}
.container .section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.container .section h2 {
  font-size: 1.5rem;
}
.container .section .form-group {
  margin-bottom: 20px;
}
.container .section .form-group label {
  display: block;
  font-size: 0.875rem;
  color: black;
  margin-bottom: 5px;
}
.container .section .form-group #foto {
  display: block;
  align-items: center;
}
.container .section .input-group {
  display: flex;
  align-items: center;
}
.container .section .input-group span {
  width: 80%;
  padding: 9px 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.container .section .input-group input {
  border-radius: 0 4px 4px 0;
  border-left: none;
  margin: 5px 0px;
}
.container .section input[type=text],
.container .section input[type=email],
.container .section textarea,
.container .section select {
  width: 100%;
  font-size: 0.875rem;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
.container .button-submit {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin: 10px auto;
}
.container .button-submit button {
  background: var(--coklat);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px var(--coklat);
  white-space: nowrap;
  font-size: 15px;
  font-weight: normal;
}

.active {
  display: flex;
}

footer {
  background-color: #eee;
  padding-bottom: 50px;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
  border-top: 3px solid #eee;
  padding-top: 90px;
}
footer .footer-container div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .footer-container div .address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
footer .footer-container ul {
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-atas-kanan {
  display: flex;
  gap: 10px;
  color: black;
}
footer .footer-atas-kanan a {
  color: black;
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
  nav {
    padding: 10px;
    gap: 10px;
  }
  nav .nav-left .logo {
    display: block;
    font-size: 10px;
  }
  nav .nav-left .search {
    display: flex;
  }
  nav .list {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    padding: 10px 30px;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--coklatmuda);
  }
  nav .list ul {
    flex-direction: column;
    gap: 5px;
  }
  nav .hamburger {
    display: flex;
  }
  nav .show {
    display: flex;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer .footer-container {
    gap: 15px;
  }
  footer .footer-container div {
    gap: 1px;
  }
  footer .footer-container div h1 {
    font-size: 30px;
  }
  footer .footer-container div .address {
    gap: 5px;
  }
  footer .footer-container div .address p {
    font-size: 15px;
  }
  footer .footer-container div h3 {
    font-size: medium;
  }
  footer .footer-container div ul {
    gap: 0px;
  }
  footer .footer-container div ul li {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  nav {
    padding: 10px;
    gap: 10px;
  }
  nav .nav-left .logo {
    display: block;
    font-size: 10px;
  }
  nav .nav-left .map i,
  nav .nav-left .map h3 {
    font-size: medium;
  }
  nav .search {
    display: none;
    top: 50px;
    right: 0px;
    padding: 10px;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    background-color: var(--coklatmuda);
  }
  nav .search #short-by {
    width: 80px;
    height: 20px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  nav .search input {
    width: 80px;
    font-size: 10px;
    height: 20px;
  }
  nav .list {
    position: absolute;
    display: none;
    top: 110px;
    right: 0px;
    font-size: 10px;
    z-index: 1;
    padding: 10px 35px;
    border-radius: 0 0 10px 10px;
    background-color: var(--coklatmuda);
  }
  nav .list ul {
    flex-direction: column;
    gap: 5px;
  }
  nav .hamburger {
    display: flex;
  }
  nav .show {
    display: flex;
  }
  header .whychoose-dua .whychoose-dua-satu h1 {
    font-size: 25px;
  }
  header .whychoose-dua .whychoose-dua-dua {
    flex-direction: column;
  }
  .container {
    top: 50px;
    left: 10px;
  }
  .container .section h2 {
    font-size: large;
  }
  .container .section .form-group label {
    font-size: 13px;
  }
  .container .section .form-group .input-group span {
    font-size: 10px;
  }
  .container .section .form-group .input-group input {
    font-size: 10px;
  }
  .container .section div label {
    font-size: 13px;
  }
  .container .section div #email {
    font-size: 10px;
  }
  .container .section div #country {
    font-size: 10px;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer .footer-container {
    flex-direction: column;
    gap: 15px;
  }
  footer .footer-container div {
    gap: 1px;
  }
  footer .footer-container div h1 {
    font-size: 20px;
  }
  footer .footer-container div .address {
    gap: 5px;
  }
  footer .footer-container div .address p {
    font-size: 10px;
  }
  footer .footer-container div h3 {
    font-size: medium;
  }
  footer .footer-container div ul {
    gap: 0px;
  }
  footer .footer-container div ul li {
    font-size: 10px;
  }
}

/*# sourceMappingURL=about.css.map */
